# Python bytecode
__pycache__/
*.py[cod]

# Django migrations
*.sqlite3
db.sqlite3

# Ignore virtual environments
env/
venv/

# Ignore IDE/editor files
.vscode/
*.swp

# Ignore static and media files (if you have them in production)
static/
media/

# Ignore pipenv and other environment files
Pipfile
Pipfile.lock

# Django secret key and settings (if you store sensitive info in a .env file)
.env
